beautifulsoup4
bokeh
bs4
certifi
charset-normalizer
click
Flask
Flask-WTF
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
packaging
Pillow
pyparsing
PyYAML
requests
soupsieve
tornado
typing-extensions
urllib3
Werkzeug
WTForms
xlrd
xlutils
xlwt
zipp
uWSGI
