<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Prices tracker</title>
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/check_names.js') }}"></script>
        <script src="{{ url_for('static', filename='js/db_interaction.js') }}"></script>
        <script src="{{ url_for('static', filename='js/categories_functional.js') }}"></script>
        <div class="wrapper">

        {% block header %}
        <header class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/flask.png') }}" alt="logo">
            </div>

            <div class="header_text">
                Prices tracker
            </div>
        </header>
        {% endblock header %}

        {% block main_page %}
        {% endblock main_page %}

        {% block database_form %}
        {% endblock database_form %}

        {% block category_form %}
        {% endblock category_form %}

        {% block show_category_links %}
        {% endblock show_category_links %}

        {% block product_plotter %}
        {% endblock product_plotter %}

        {% block footer %}
        <footer class="footer">
            Supported sites: {{ supported_sites | join(", ") }}
        </footer>
        {% endblock footer %}

        </div>
    </body>

</html>
