{% extends 'layout.html' %}

{% block database_form %}
<form onsubmit="check_db_name(this)" method="POST">
    <label for="db_name">Create new database:</label>
    <input type="text" name="db_name">
    <input type="submit" value="Create">
    <br>
</form>

<form>
    <label>Selected database:</label>
    <select id="selected_db" onchange="send_selected_db(this);">
        <option disabled selected hidden value> -- select db -- </option>
        {% if selected_db %}
            <option selected value="{{ selected_db }}">{{ selected_db }}</option>
        {% endif %}

        {% if databases_list %}
            {% for db in databases_list %}
                {% if db != selected_db %}
                    <option value="{{ db }}">{{ db }}</option>
                {% endif %}
            {% endfor %}
        {% endif %}
    </select>
    <input onclick="download_selected_db()" type="submit" value="Download database">
    <input onclick="delete_selected_db()" type="submit" value="Delete database">
</form>
{% endblock database_form %}

{% block category_form %}
<form onsubmit="check_category_name(this);" method="POST">
    <label for="category_name">Add new category (to selected DB):</label>
    <input type="text" name="category_name">
    <input type="submit" value="Add"><br>
</form>
{% endblock category_form %}

{% block product_plotter %}
    <div class="plotters">
        <div class="product1">
            <form method="POST">
                <label>Selected category:</label>
                <select id="category1" onchange="select_category(this);">
                    <option disabled selected hidden value> -- select category 1 -- </option>
                    {% if selected_cat1 %}
                        <option selected value="{{ selected_cat1 }}">{{ selected_cat1 }}</option>
                    {% endif %}

                    {% if categories_list %}
                        {% for category in categories_list %}
                            {% if category != selected_cat1 %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
                <input onclick="delete_cat(1);" type="submit" value="Delete">
                <br>
            </form>

            <form method="POST">
                <label for="category_name">Add new link (to selected category):</label>
                <input type="text" id="link_name" name="link_name">
                <input type="submit" name="add_link_left_cat" value="Add"><br>
            </form>

            <form method="POST">
                <input type="submit" name="sync_links_left_cat" value="Synchronize links">
                <input type="submit" name="show_left_links" value="Show sheet in current category">
                <br>
            </form>

            <form method="POST">
                <label>Select product 1 (for monitoring):</label>
                <input type="submit" name="generate_plot1" value="Build plotter">
                <div class="scroll_box_products">
                    {% if monitor_products_list_left %}
                        {% for product in monitor_products_list_left %}
                            {% if product and product != 'Error' %}
                                <input type="radio" id="plot_product1" name="plotter1" value="{{ product }}">
                                <label for="plot_product1">{{ product }}</label><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>

        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
         
              <div class="bk-root" id="9e8ed5bf-3ad5-4fcd-b17f-c0e686f6853e" data-root-id="1002"></div>
            
               <script type="application/json" id="1183">
                   {"4dcc0822-3304-4d4a-9320-81ec10e3586b":{{ plotter1_json | safe }}}
        </script>
        <script type="text/javascript">
          (function() {
            const fn = function() {
              Bokeh.safely(function() {
                (function(root) {
                  function embed_document(root) {
                    
                  const docs_json = document.getElementById('1183').textContent;
                  const render_items = [{"docid":"4dcc0822-3304-4d4a-9320-81ec10e3586b","root_ids":["1002"],"roots":{"1002":"9e8ed5bf-3ad5-4fcd-b17f-c0e686f6853e"}}];
                  root.Bokeh.embed.embed_items(docs_json, render_items);
                
                  }
                  if (root.Bokeh !== undefined) {
                    embed_document(root);
                  } else {
                    let attempts = 0;
                    const timer = setInterval(function(root) {
                      if (root.Bokeh !== undefined) {
                        clearInterval(timer);
                        embed_document(root);
                      } else {
                        attempts++;
                        if (attempts > 100) {
                          clearInterval(timer);
                          console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                        }
                      }
                    }, 10, root)
                  }
                })(window);
              });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
          })();
        </script>
        </div> <!-- product1 -->

        <div class="product2">
            <form method="POST">
                <label>Selected category:</label>
                <select id="category2" onchange="select_category(this);">
                    <option disabled selected hidden value> -- select category 2 -- </option>
                    {% if selected_cat2 %}
                        <option selected value="{{ selected_cat2 }}">{{ selected_cat2 }}</option>
                    {% endif %}

                    {% if categories_list %}
                        {% for category in categories_list %}
                            {% if category != selected_cat2 %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
                <input onclick="delete_cat(2);" type="submit" value="Delete">
                <br>
            </form>

            <form method="POST">
                <label for="category_name">Add new link (to selected category):</label>
                <input type="text" id="link_name" name="link_name">
                <input type="submit" name="add_link_right_cat" value="Add"><br>
            </form>
            
            <form method="POST">
                <input type="submit" name="sync_links_right_cat" value="Synchronize links">
                <input type="submit" name="show_right_links" value="Show sheet in current category">
                <br>
            </form>
            
            <form method="POST">
                <label>Select product 2 (for monitoring):</label>
                <input type="submit" name="generate_plot2" value="Build plotter">
                <div class="scroll_box_products">
                    {% if monitor_products_list_right %}
                        {% for product in monitor_products_list_right %}
                            {% if product and product != 'Error' %}
                                <input type="radio" id="plot_product2" name="plotter2" value="{{ product }}">
                                <label for="plot_product2">{{ product }}</label><br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>

        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
         
              <div class="bk-root" id="edf31f2c-efc8-4b55-bd93-83766ea38c70" data-root-id="1002"></div>
            
          
      
        <script type="application/json" id="1184">
            {"893496ba-be8a-49ce-8dd0-d6e77a65085c":{{ plotter2_json | safe }}}
        </script>
        <script type="text/javascript">
          (function() {
            const fn = function() {
              Bokeh.safely(function() {
                (function(root) {
                  function embed_document(root) {
                    
                  const docs_json = document.getElementById('1184').textContent;
                  const render_items = [{"docid":"893496ba-be8a-49ce-8dd0-d6e77a65085c","root_ids":["1002"],"roots":{"1002":"edf31f2c-efc8-4b55-bd93-83766ea38c70"}}];
                  root.Bokeh.embed.embed_items(docs_json, render_items);
                
                  }
                  if (root.Bokeh !== undefined) {
                    embed_document(root);
                  } else {
                    let attempts = 0;
                    const timer = setInterval(function(root) {
                      if (root.Bokeh !== undefined) {
                        clearInterval(timer);
                        embed_document(root);
                      } else {
                        attempts++;
                        if (attempts > 100) {
                          clearInterval(timer);
                          console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                        }
                      }
                    }, 10, root)
                  }
                })(window);
              });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
          })();
        </script>
        </div> <!-- product2 -->

    </div> <!-- plotters -->
{% endblock product_plotter %}
